/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYMBOLS 1
#define NAV 2
#define UTILS 3

#define ________ &trans
#define XXXXXXXX &none

#define BRI_DN C_BRI_DN
#define BRI_UP C_BRI_UP
#define VOL_DN C_VOL_DN
#define VOL_UP C_VOL_UP

#define CTRL_TAB &mht LCTRL TAB
#define SLSH_NAV &lt NAV FSLH
#define SHFT_DEL &qht RSHFT DEL

#define WEB_PRV LG(LBKT)
#define WEB_NXT LG(RBKT)
#define PRV_TAB LG(LBRC)
#define NXT_TAB LG(RBRC)

#define BTSEL0 BT_SEL 0
#define BTSEL1 BT_SEL 1
#define BTSEL2 BT_SEL 2
#define BTSEL3 BT_SEL 3
#define BTSEL4 BT_SEL 4


&lt {
    tapping-term-ms = <150>;
};

&sl {
    release-after-ms = <2000>;
};

/ {
    behaviors {
        qht: quick_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        mht: medium_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <140>;
            bindings = <&kp>, <&kp>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
   &kp ESC      &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
   CTRL_TAB     &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SQT     &kp RET
   &kp LSHFT    &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     SLSH_NAV    SHFT_DEL
                                        &kp LALT    &kp LCMD    &mo SYMBOLS &kp SPACE   &kp RCMD    &kp RALT
                                        >;
        };

        symbols_layer {
            display-name = "Symbols";
            bindings = <
   &kp GRAVE    &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT   &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR    &kp RPAR    ________
   ________     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp BSLH
   ________     &sl UTILS   &kp SEMI    &kp COLON   &kp MINUS   &kp EQUAL   &kp LBRC    &kp LBKT    &kp RBKT    &kp RBRC    XXXXXXXX    ________
                                        ________    ________    ________    ________    ________    ________
                                        >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
   &kp GRAVE    &kp BRI_DN  &kp BRI_UP  XXXXXXXX    &kp VOL_DN  &kp VOL_UP  XXXXXXXX    &kp C_PREV  &kp C_PP    &kp C_NEXT  XXXXXXXX    XXXXXXXX
   ________     XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   XXXXXXXX    XXXXXXXX
   ________     XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    &kp WEB_PRV &kp PRV_TAB &kp NXT_TAB &kp WEB_NXT XXXXXXXX    XXXXXXXX
                                        ________    ________    ________    ________    ________    ________
                                        >;
        };

        utils_layer {
            display-name = "Utils";
            bindings = <
   XXXXXXXX     XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    &bt BT_CLR  XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX
   XXXXXXXX     &bt BTSEL0  &bt BTSEL1  &bt BTSEL2  &bt BTSEL3  &bt BTSEL4  XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX
   XXXXXXXX     XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX
                                        XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX    XXXXXXXX
                                        >;
        };
    };
};

